In [3]:
import pandas as pd

In [4]:
existing = pd.read_csv("epa_parcel_info.csv")
new = pd.read_csv('epa_parcel_data.csv')

In [5]:
existing.head()

,APN,totVal_m2,area_m2,LU_Desc,yrBuilt,taxAmt,assdsYr,assdLndVal,assdImpVal,assdTotVal,bestRectL,bestRectW,bestRectA,bestScore,area_sqf,adu_type,lng,lat,address
0,63024010,185.107239,825.283771,Single Family Residential,1952,3378.18,2015,76383,76383,152766,13.092777,12.828271,167.957695,0.692,8883.271985,detached,-122.133125,37.482237,"2896 Illinois St, East Palo Alto, CA 94303, USA"
1,63011180,232.942768,515.474256,Single Family Residential,1953,2728.14,2015,51460,68616,120076,18.624706,5.086134,94.727743,-1.000,5548.513340,attached,-122.135875,37.482134,"1767 Tulane Ave, East Palo Alto, CA 94303, USA"
2,63023340,570.416096,455.725219,Single Family Residential,1953,4616.08,2015,180376,79577,259953,9.402257,6.185736,58.159876,0.192,4905.380680,none,-122.134447,37.481644,"2870 Fordham St, East Palo Alto, CA 94303, USA"
3,63013150,88.525288,528.583423,Single Family Residential,1953,2230.42,2015,8605,38188,46793,9.166673,6.551206,60.052759,0.346,5689.619109,attached,-122.136739,37.481056,"2813 Georgetown St, East Palo Alto, CA 94303, USA"
4,63023130,66.336499,1316.937149,Single Family Residential,1952,2661.20,2015,28257,59104,87361,25.314898,10.172267,257.509910,1.000,14175.379778,detached,-122.134395,37.481025,"2847 Temple Ct, East Palo Alto, CA 94303, USA"

In [6]:
new.head()

,APN,ADDRESS_PO,AREA,ATTACHED_FLAG,DETACHED_FLAG,IMPROVEMEN,LESS_50K,SFHA_FLAG,FLOOD_FLAG,PUC_DESC,...,EXEM_HOMEO,NET_ASSESS,ASSESSMENT,TRA,PUC,SITUS_CITY,GEOMETRY_L,GEOMETRY_A,CENT_X,CENT_Y
0,62111020,915 Alberni St,6553.18,1.0,NaN,"$135,074.00",0.0,0.0,0.0,Single Family Residence,...,NaN,"$324,182",Annual,21019.0,1.0,East Palo Alto,368.020947,7341.100646,-122.153298,37.474263
1,62111030,923 Alberni St,6027.63,1.0,NaN,"$386,803.00",0.0,1.0,0.0,Single Family Residence,...,NaN,"$773,606",Annual,21019.0,1.0,East Palo Alto,360.571855,6894.658543,-122.153097,37.474234
2,62112010,1304 Saratoga Ave,6913.10,1.0,NaN,"$129,452.00",0.0,1.0,0.0,Single Family Residence,...,"$7,000","$165,317",Annual,21019.0,1.0,East Palo Alto,371.565312,7599.045113,-122.152718,37.474180
3,62112020,939 Alberni St,6846.67,1.0,NaN,"$126,948.00",0.0,1.0,0.0,Single Family Residence,...,NaN,"$253,896",Annual,21019.0,1.0,East Palo Alto,363.529775,7103.161320,-122.152509,37.474154
4,62112030,947 Alberni St,6617.69,1.0,NaN,"$73,546.00",0.0,1.0,0.0,Single Family Residence,...,"$7,000","$118,021",Annual,21019.0,1.0,East Palo Alto,363.778701,7073.095835,-122.152309,37.474124

In [10]:
test = pd.merge(existing, new, on='APN')

In [11]:
test.columns

Index(['APN', 'totVal_m2', 'area_m2', 'LU_Desc', 'yrBuilt', 'taxAmt',
       'assdsYr', 'assdLndVal', 'assdImpVal', 'assdTotVal', 'bestRectL',
       'bestRectW', 'bestRectA', 'bestScore', 'area_sqf', 'adu_type', 'lng',
       'lat', 'address', 'ADDRESS_PO', 'AREA', 'ATTACHED_FLAG',
       'DETACHED_FLAG', 'IMPROVEMEN', 'LESS_50K', 'SFHA_FLAG', 'FLOOD_FLAG',
       'PUC_DESC', 'BLOCK', 'BOOK', 'LOT', 'SUBLOT', 'PARCEL_ID', 'PERIMETER',
       'RETIRE_DAT', 'REV_DATE', 'TAXYEAR', 'LAND', 'FIXTURES', 'TOTAL_GROS',
       'EXEM_HOMEO', 'NET_ASSESS', 'ASSESSMENT', 'TRA', 'PUC', 'SITUS_CITY',
       'GEOMETRY_L', 'GEOMETRY_A', 'CENT_X', 'CENT_Y'],
      dtype='object')

In [19]:
test.to_csv("epa_data_merged.csv")